body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family: 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

p {
  line-height: 1.75;
}

a {
  color: #f9c204;
}

a:hover {
  color: #fec503;
}
.debug {
  border: 2px solid red;
}
.text-primary {
  color: #fed136 !important;
}
.rtl {
  color: white;
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
}
#logo {
  width: 100%;
  }
.copy{
  font-weight: lighter;
}
#moto {
  margin-left: auto;
  margin-right: 0px;
  width: max-content;
}

#description {    
  padding: 0px 20px;
  background-color: rgba(255, 255, 255, 0.36);}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  font-family: 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section {
  padding: 70px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 10px;
}
h3.section-subheading {
  color: white;
  margin-bottom: 25px;
    font-style: italic;
    font-size: 18px;}
.form-control {
    background-color: rgba(255, 255, 255, 0.36);
  }

button {
    text-shadow: 2px 2px 2px rgba(25, 23, 23, 0.5);
}
@media (min-width: 768px) {
  section {
    padding: 70px 0;
  }
}

.btn {
  font-family: 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #f9c204;
  border-color: #fed136;
  text-shadow: 2px 2px 2px rgba(25, 23, 23, 0.7);
box-shadow: 4px 4px 14px rgba(25, 23, 23, 0.5);
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #fec810 !important;
  border-color: #fec810 !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

li {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul {
      padding-left: 0px;
}

@media (min-width: 992px) {

}


header.masthead {
  height: 100vh;
  text-align: center;
  color: white;
  background-color: #575857;
  background-image:  url("../img/back-ver.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 2px 2px 2px rgb(25, 23, 23);
}

.intro-text
{
  display: flex;
  flex-direction: column;
}
.copy{
  order: -2;
}
.svg{
  order: -1;
}
header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-weight: 100;
  line-height: 22px;
  margin-bottom: 20px;
  font-family: 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 300;
  text-shadow: 2px 2px 2px rgb(25, 23, 23);  
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
header.masthead .intro-text .intro-lead-in {
  font-size: 25px;
  font-weight: 100;
  line-height: 25px;
  margin-bottom: 25px;
  font-family: 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.intro-subheading {
  font-size: 33px;
  font-weight: 100;
  color: white;
/*  margin-bottom: 25px;*/
  text-transform: none;
  font-family: 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  text-shadow: 2px 2px 2px rgb(25, 23, 23);
  }

.rtl {
 color: black;
 margin-top: -40px;
 margin-bottom: 25px;
 text-shadow: -2px 2px 2px rgb(25, 23, 23)
}

/* Bigger than ipad */
@media (min-width: 769px) {
   header.masthead {
    background-image: url("../img/back-hor.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    justify-content: center;
}
.copy{
  order: 2;
}
.svg{
  order: 1;}

  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 300;
    line-height: 75px;
    margin-bottom: 25px;
    font-family: 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }

.intro-subheading {
  font-size: 33px;
  font-weight: lighter;
  margin-bottom: 25px;
  text-transform: none;
  font-family: 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  .rtl{
    margin-top: -46px;
  }
}

@media (min-width: 426px) and (max-width: 767px){
  header.masthead .intro-text .intro-lead-in {
  font-size: 20px;
/*  line-height: 20px;
  margin-bottom: 20px;*/
}
  .intro-subheading {
    font-size: 22px;
    font-weight: lighter;
    text-transform: none;
    font-family: 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }
  .rtl {
      margin-top: -30px;
    }
  }
/* Mobile */
@media (max-width: 425px){

  header.masthead .intro-text .intro-lead-in {
  font-size: 18px;
/*  line-height: 20px;
  margin-bottom: 20px;*/
}
  .intro-subheading {
    font-size: 18px;
    font-weight: lighter;
    text-transform: none;
    font-family: 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }
  .rtl {
      margin-top: -30px;
    }


  .btn-xl {
      font-size: 16px;
      padding: 15px 20px;
  }

}
/* Second Screen */
section#contact {
  min-height: 85vh;
  background-color: #212529;
  background-image: url("../img/bg2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-shadow: 2px 2px 2px rgba(25, 23, 23, 0.7);
}


section#contact .section-heading {
  color: #fff;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}

section#contact .form-control:focus {
  border-color: #fed136;
  -webkit-box-shadow: none;
  box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family:'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.alert-success {
    color: #155724;
    background-color: rgba(212, 237, 218, 0.58);
  }

.text-danger {
    color: #ffab07!important;
    font-weight: 500;
    text-shadow: 2px 2px 2px rgb(25, 23, 23);}

footer {
  min-height: 15vh;
  padding: 40px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.quicklink {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  background-color: #212529;
    font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;

}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #f9c204;
}
